@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 20px;
}
.card img{
    border-radius: 20px 20px 0 0;
}
.card:hover{
    opacity: .7;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#detailsBtn:hover{
    background-color:black;
    color: white;

}
#cardDesign{
    margin-bottom: 10px;
}
#headImg img{
    border-radius: 50%;
    max-width: 60px;

}